---

import { Image } from "astro:assets";
import LogoDark from "../assets/LogoDark.svg";

---

<div class="wrapper">
    <div class="embla" id="embla">
        <div class="embla__container">  
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
            <div class="embla__slide">
                <Image src={LogoDark} alt="logo" width={100} height={100} />
            </div>
        </div>
    </div>
</div>


<script>
    import EmblaCarousel from 'embla-carousel';
    import Autoscroll from "embla-carousel-auto-scroll";

    const emblaNode = document.getElementById('embla');
    const options = { loop: true, speed: 5, startDelay: 0, stopOnInteraction: false, stopOnFocusIn: false };
    const plugins = [Autoscroll()];

    if(emblaNode){
        EmblaCarousel(emblaNode, options, plugins);
    }
</script>

<style>
    .wrapper{
        width: 100%;
    }

    .embla {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .embla__container {
        padding: 20px;
        display: flex;
    }

    .embla__slide {
        flex: 0 0 10%;
        min-width: 0;
        border: 1px solid var(--black);
        padding: 50px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        border-radius: 20px;
    }
</style>